:root {
  font-family: system-ui, Arial, sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #102e20;
  color: white;
}

h1 {
  text-align: center;
}

.app-container {
  max-width: 900px;
  margin: 0 auto; /* centra */
  padding: 24px;
}
